<h1><%= @user.username %><% if @user.admin? %> [admin]<% end%></h1>
<p><strong>Bio: </strong><%= @user.bio %><% if current_user == @user && (@user.bio.nil? || @user&.bio&.empty?) %><%= link_to "[Add Bio]", edit_user_registration_path %><% end %></p>

<% if current_user == @user %>
  <%= link_to 'Edit Your Account', edit_user_registration_path, method: :get, class: "btn btn-outline-dark btn-sm" %>
<% end %>

<%= link_to 'See Memories', user_memories_path(@user), class: "btn btn-outline-dark btn-sm" if !@user.memories.empty? %>
