<h2><%= @user.username %><% if @user.admin? %> [admin]<% end%></h2>
<p><strong>Bio: </strong><%= @user.bio %></p>

<% if current_user && current_user.id == @user.id%>
  <%= link_to 'Edit Your Account', edit_user_registration_path, method: :get %>
<% end %><br>

<% @user.memories.each do |memory| %>
  <p><%= link_to memory.event.name, event_path(memory.event.id) %>: <%= puts memory.title %>
  <%= link_to memory.title, event_memory_path(memory.event.id, memory.id) %></p>
<% end %>
