<h1>Events</h1>

<p>Find events of historical interest to read about or add your own.</p>

<% if current_user %>
  <%= button_to 'Add Event', new_user_event_path %>
<% else %>
  <%= button_to 'Add Event', new_user_session_path %>
<% end %><br>

<% if !@events.empty? %>
 <% @events.each do |e| %>
   <tr>
     <td><%= link_to e.name, event_path(e) %><%= format_date(e.date) %>, <%= e.country %><br><br></td>
   </tr>
 <% end %>
<% end %>
