<center>
<h1><%= @event.name %></h1>
<p><%= @event.country %>, <%= format_date(@event.date) %></p>
<p>Created by <%= link_to @creator.username, user_path(@creator) %></p>
<p>Summary: <%= @event.description %></p>

<% if current_user %>
  <%= link_to 'Add Memory', new_event_memory_path(@event), method: :get, class: "btn btn-outline-dark btn-sm" %>
  <% if current_user.id == @creator.id || current_user.admin? %>
    <%= link_to 'Edit', edit_event_path(@event), method: :get, class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Delete', event_path(@event), method: :delete, class: "btn btn-outline-dark btn-sm" %>
  <% end %><br>
<% else %>
  <%= link_to 'Add Memory', new_user_session_path, class: "btn btn-outline-dark btn-sm" %>
<% end %><br>

<% if !@event&.memories.empty? %>
  <h5>Memories</h5>
  <table>
    <thead>
      <th>Title</th><th>Writer</th>
    </thead>
    <tbody>
      <% @event.memories.each do |m| %>
        <tr>
          <td><%= link_to m.title, memory_path(m) %></td>
          <td><%= link_to m.user.username, user_path(m.user)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<center>
