<h1><%= @event.name %></h1>
<p><%= @event.country %>, <%= format_date(@event.date) %></p>
<p><%= @event.description %></p>

<% if current_user %>
  <%= button_to 'Add Your Memory of This Event', new_event_memory_path(@event), method: :get %>
<% else %>
  <%= button_to 'Add a Memory of This Event', new_user_session_path %>
<% end %><br>

<% if !@event&.memories.empty? %>
  <h2>Memories</h2>
  <% @event.memories.each do |m| %>
    <tr>
      <td><%= link_to m.title, memory_path(m) %></td>
    </tr>
  <% end %>
<% end %>
