<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div><br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation, 'Retype Password' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, size: "125x8", autocomplete: "bio" %>
  </div><br>

  <div class="field">
    <%= f.label :admin_key_if_any %><br />
    <p><input type="text" name="admin_key"></p>
    <% if flash[:admin_mismatch] %>
      <p><strong><%= flash[:admin_mismatch] %></strong></p><br>
    <% end %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign Up", class: "btn btn-outline-dark btn-sm" %>
  </div>
<% end %>
<br>
<p>or</p>
<%= link_to 'Sign Up With Google', user_google_oauth2_omniauth_authorize_path, class: "btn btn-outline-dark btn-sm" %>
