<h1>Edit <%= @memory.title %></h1>
<br>
<%= form_with(model: @memory, url: event_memory_path(@event, @memory), method: 'patch') do |f| %>
  <p><%= f.label :title %>: <%= f.text_field :title %></p><br>
  <p><%= f.label :"Your Memory" %>:<br><em>Recollections of the event from your point of view.</em><br>
  <%= f.text_area(:body, size: "125x8") %></p>
  <p><%= f.submit :Submit %></p>
<% end %>