<h1>Memories#new</h1>

<%= form_for(url: user_memories_path(current_user.id)) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Create Memory" %>
  </div>
<% end %>
