<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>I Remember When</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
      <% if current_user %>
        <p>Logged in as <a href='/users/<%= current_user.id %>'><%= current_user.username %></a></p>
      <% end %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Home', root_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'About', about_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Events', events_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Writers', users_path %></a>
        </li>
      <% if !current_user %>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Sign In', new_user_session_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Sign Up', new_user_registration_path %></a>
        </li>
      <% end %>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Sign Out', destroy_user_session_path %></a>
        </li>
      <% end %>
      </ul>
      <%= yield %>
      <footer id="footer">

      <center><p>©2019 Ron Sala<a href=mailto:ron.sala@gmail.com> Contact </a>|<a <%= link_to ' Privacy', privacy_path %></a></cp></center>

      </footer>
    </div>
  </body>
</html>
