<!DOCTYPE html>
<html>
  <head>
    <title>I Remember When</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- or: -->
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

        <!-- <%= link_to("Sign Up", new_user_registration_path) %> -->
        <!-- <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %> -->

    <%= yield %>
  </body>
</html>
