<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>I Remember When</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memories">Memories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_out">Sign Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Sign Up', new_user_registration_path %></a>
        </li>
      </ul>
      <%= yield %>
      <footer id="footer">

      <center><p>©2019 Ron Sala<a href=mailto:ron.sala@gmail.com> Contact </a>|<a href="/pages/privacy"> Privacy </a></cp></center>

      </footer>
    </div>
  </body>
</html>
