<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>I Remember When</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
        <ul nav class="nav">
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'Home', root_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'About', about_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'Events', events_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'Writers', users_path %></a>
          </li>
        <% if !current_user %>
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'Sign In', new_user_session_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'Sign Up', new_user_registration_path %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link btn btn-dark btn-sm" <%= link_to 'Sign Out', destroy_user_session_path %></a>
          </li>
            <% if !current_user.admin? %>
              <li class="nav-item">
                <a class="nav-link btn btn-dark btn-sm" <%= link_to current_user.email, user_path(current_user) %></a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link btn btn-dark btn-sm" href="/users/<%= current_user.id %>"><%= current_user.email %> [admin]</a>
              </li>
            <% end %>
        <% end %>
        </ul><br>
          <%= yield %>

        <footer id="footer">
          ©2020 Ron Sala<a href=mailto:ron.sala@gmail.com> Contact </a>|<a <%= link_to ' Privacy', privacy_path %></a>
        </footer>
      </div>
    </body>
</html>
